:root {
  --secondary-btn: red;
}

body {
    background-color: rgb(red, green, blue, 0.1);
    color: #5e12c185;
}

.filterButtons {

}

.filterAll {
    background-color: var(--secondary-btn);
}

.filterActive {
    background-color: var(--secondary-btn);
}

.filterDone {
    background-color: var(--secondary-btn);
}
